@import "./../styles/variables.scss";

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 1.4em;
    width: 40vw;
  }
  .goofy {
    margin-right: 1em;
    margin-bottom: 3em;
    height: auto;
    width: 40%;
    border-radius: $borderRadius;
  }
}